# ===== Python / Django (backend) =====
__pycache__/
*.pyc
venv/
*.sqlite3
media/

# ===== Node / Next.js (frontend) =====
node_modules/
.next/
npm-debug.log*

# ===== Rahasia / environment =====
.env
.env.local

# ===== Editor / local config =====
.vscode/settings.json
backend/requirements.txt

# ===== OS / file sampah =====
.DS_Store
Thumbs.db
