asgiref==3.11.1
brotli==1.2.0
cffi==2.0.0
cssselect2==0.9.0
Django==5.2.15
django-cors-headers==4.9.0
djangorestframework==3.17.1
fonttools==4.63.0
pillow==11.2.1
psycopg2-binary==2.9.12
pycparser==3.0
pydyf==0.12.1
pypdf==6.14.2
pyphen==0.17.2
python-dotenv==1.2.2
qrcode==8.2
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2026.2
weasyprint==69.0
webencodings==0.5.1
zopfli==0.4.3